<!DOCTYPE html>
<html>
  <head>
    <title>Historia Clínica Automotor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container">
        <%= link_to "Clínica Automotor", root_path, class: "navbar-brand" %>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><%= link_to "Dueños", owners_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Vehículos", vehicles_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Visitas", visits_path, class: "nav-link" %></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>

